
body {
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

.logo, .tagline {
  text-align: center;
}

.logo {
  margin-top: 5%;
  color: #C0C0C0;
}

.form-container {
  margin: 0 auto;
  width: 50%;
}

.input {
  font-size: 1rem;
  padding: 10px 12px;
}

.invalid {
  border: 1.5px solid #ed8078;
  color: #e02c1f;
}

.error-message {
  color: #e02c1f;
}

.btn-container {
  text-align: center;
}

.submit-btn {
  background: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  width: 100%;
  margin-top: 5px;
  padding: 12px 0;
  cursor: pointer;
}

.submit-btn:hover{
  background: #4d4d4d;
  transition: 5ms;
}