
body {
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

.logo, .tagline {
  text-align: center;
}

.logo {
  margin-top: 5%;
  color: #C0C0C0;
}

.form-container {
  margin: 3% auto 0;
  width: 50%;
}

.input {
  font-size: 1rem;
  padding: 10px 12px;
}

.invalid {
  border: 1.5px solid #ed8078;
  color: #e02c1f;
}

.error-message {
  color: #e02c1f;
}

.btn-container {
  text-align: center;
}

.submit-btn {
  background: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  width: 100%;
  margin-top: 5px;
  padding: 12px 0;
  cursor: pointer;
}

.submit-btn:hover, .delete-btn:hover {
  background: #4d4d4d;
  transition: 5ms;
}

/* Old urls section */

hr {
  margin: 5% auto 0;
  width: 70%;
}

.routes-header {
  text-align: center;
  margin-top: 3%;
  color: #333;
  font-weight: 600;
}

.previous-routes-table {
  text-align: center;
  margin: 3% auto;
  width: 50%;
}

.route-link {
  color: #333;
}

.delete-btn {
  background: #333;
  color: #fff;
  font-size: 0.8rem;
  border: none;
  border-radius: 5px;
  margin-top: 5px;
  padding: 5px 12px;
  cursor: pointer;
}

@media (min-width: 320px) and (max-width: 480px) {
  .tagline {
    margin: auto;
    font-size: 0.9rem;
    width: 75%;
    line-height: 1.6;
  }

  .form-container {
    margin: 8% auto 0;
    width: 90%;
  }
  
  hr {
    margin: 10% auto 0;
    width: 90%;
  }

  .routes-header {
    margin-top: 8%;
  }

  .previous-routes-table {
    margin-top: 8%;
    width: 90%;
  }
}